In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
sns.set(color_codes=True)

In [3]:
df = pd.read_csv('/home/kevinxu95/Documents/sort.csv')

In [4]:
df = df[:500000]
df = df[['sortorderid', 'productcode', 'sortquantity']]

In [5]:
df.head()

                            sortorderid  productcode  sortquantity
0  F02BD99A-9709-47AF-8BE6-3BFA756F4EB4     42013021             2
1  5A778265-F6FA-498C-8D9E-98E893973A38     33013114             4
2  4C1F6453-98F6-455C-A1AF-BDB78E06F560     33014407             1
3  ECD1594B-8ADD-4ACA-B067-4C645224AE89     52090738             1
4  CA9BBBBF-323E-474E-941E-A132C22BB5F5     33013138             5

In [6]:
df = df.pivot_table(index='sortorderid', columns='productcode', values='sortquantity')
df = df.fillna(0)

In [7]:
df.head()

productcode,11013221,11013269,12013906,13010117,13010120,13010126,14014502,15010405,15010407,21023018,...,61023116,62010203,89023701,99020028,99020033,99020035,99020114,99020115,99022509,99026911
sortorderid,,,,,,,,,,,,,,,,,,,,,
00006908-6FA7-4157-9824-7153FCDCD5F0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00007299-B267-4BC1-8A88-1947986132D7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0000D98A-A389-48C5-A328-76ED869DC223,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00014E36-F1A4-414A-917C-39FC8E056135,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0001B275-8600-48AD-B446-6B092C24F865,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
df['Total']= df.sum(axis=1)
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df[cols]

In [9]:
df.head()

productcode,Total,11013221,11013269,12013906,13010117,13010120,13010126,14014502,15010405,15010407,...,61023116,62010203,89023701,99020028,99020033,99020035,99020114,99020115,99022509,99026911
sortorderid,,,,,,,,,,,,,,,,,,,,,
00006908-6FA7-4157-9824-7153FCDCD5F0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00007299-B267-4BC1-8A88-1947986132D7,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0000D98A-A389-48C5-A328-76ED869DC223,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00014E36-F1A4-414A-917C-39FC8E056135,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0001B275-8600-48AD-B446-6B092C24F865,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
df.describe()

productcode,Total,11013221,11013269,12013906,13010117,13010120,13010126,14014502,15010405,15010407,...,61023116,62010203,89023701,99020028,99020033,99020035,99020114,99020115,99022509,99026911
count,249933.000000,249933.000000,249933.000000,249933.000000,249933.000000,249933.000000,249933.000000,249933.000000,249933.000000,249933.000000,...,249933.000000,249933.000000,249933.000000,249933.000000,249933.000000,249933.000000,249933.000000,249933.000000,249933.000000,249933.000000
mean,3.445848,0.002453,0.000492,0.002389,0.001752,0.001496,0.000332,0.000228,0.004499,0.000348,...,0.000388,0.001504,0.000612,0.000280,0.000456,0.000348,0.000048,0.002973,0.000504,0.000100
std,2.529722,0.056275,0.022179,0.048815,0.060249,0.040277,0.018868,0.017089,0.088887,0.024740,...,0.026609,0.038758,0.029595,0.031626,0.028566,0.032683,0.006929,0.054442,0.022447,0.010001
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,30.000000,10.000000,1.000000,1.000000,20.000000,6.000000,3.000000,2.000000,3.000000,3.000000,...,5.000000,1.000000,2.000000,10.000000,10.000000,10.000000,1.000000,1.000000,1.000000,1.000000

In [28]:
X = np.array(df.iloc[:,1:])
X.shape

(249933, 168)

In [27]:
from sklearn import cluster
agglo = cluster.FeatureAgglomeration(n_clusters=20)
agglo.fit(X)
X_reduced = agglo.transform(X)
X_reduced.shape

(249933, 20)

In [34]:
from sklearn.decomposition import SparsePCA
spca = SparsePCA(n_components=10, random_state=42)
spca.fit(X)
X_pca = spca.transform(X)
X_pca.shape

(249933, 10)

In [40]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=8, random_state=42).fit(X_pca[:200000, :])
kmeans.labels_

array([0, 0, 5, ..., 2, 4, 0], dtype=int32)

In [41]:
kmeans.predict(X_pca[200000:, :])

array([0, 2, 0, ..., 0, 2, 0], dtype=int32)