In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/home/kevinxu95/Documents/sort.csv')

In [3]:
df = df[:500000]
df = df[['sortorderid', 'productcode', 'sortquantity']]

In [4]:
df = df.pivot_table(index='sortorderid', columns='productcode', values='sortquantity')
df = df.fillna(0)

In [5]:
df['Total']= df.sum(axis=1)
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df[cols]

In [6]:
df.head()

productcode,Total,11013221,11013269,12013906,13010117,13010120,13010126,14014502,15010405,15010407,...,61023116,62010203,89023701,99020028,99020033,99020035,99020114,99020115,99022509,99026911
sortorderid,,,,,,,,,,,,,,,,,,,,,
00006908-6FA7-4157-9824-7153FCDCD5F0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00007299-B267-4BC1-8A88-1947986132D7,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0000D98A-A389-48C5-A328-76ED869DC223,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00014E36-F1A4-414A-917C-39FC8E056135,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0001B275-8600-48AD-B446-6B092C24F865,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
df.describe()

productcode,Total,11013221,11013269,12013906,13010117,13010120,13010126,14014502,15010405,15010407,...,61023116,62010203,89023701,99020028,99020033,99020035,99020114,99020115,99022509,99026911
count,249933.000000,249933.000000,249933.000000,249933.000000,249933.000000,249933.000000,249933.000000,249933.000000,249933.000000,249933.000000,...,249933.000000,249933.000000,249933.000000,249933.000000,249933.000000,249933.000000,249933.000000,249933.000000,249933.000000,249933.000000
mean,3.445848,0.002453,0.000492,0.002389,0.001752,0.001496,0.000332,0.000228,0.004499,0.000348,...,0.000388,0.001504,0.000612,0.000280,0.000456,0.000348,0.000048,0.002973,0.000504,0.000100
std,2.529722,0.056275,0.022179,0.048815,0.060249,0.040277,0.018868,0.017089,0.088887,0.024740,...,0.026609,0.038758,0.029595,0.031626,0.028566,0.032683,0.006929,0.054442,0.022447,0.010001
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,30.000000,10.000000,1.000000,1.000000,20.000000,6.000000,3.000000,2.000000,3.000000,3.000000,...,5.000000,1.000000,2.000000,10.000000,10.000000,10.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
X = np.array(df.iloc[:,1:])
X.shape

(249933, 168)

### Random Projection

In [104]:
from sklearn.random_projection import SparseRandomProjection
transformer = SparseRandomProjection(eps=0.9)
X_proj = transformer.fit_transform(X[:200, :])
X_proj.shape

(200, 130)

### PCA

In [123]:
def pca(X, dims=10):
    (n, d) = X.shape
    X = X - np.tile(np.mean(X, 0), (n, 1))
    (l, M) = np.linalg.eig(np.dot(X.T, X))
    Y = np.dot(X, M[:, 0:dims])
    return Y

In [124]:
X_pca = pca(X)
X_pca[:5]

array([[-0.33065412,  0.2694062 , -0.09205032,  0.34808202,  0.13457154,
         0.19424019, -0.05672374, -0.15829211, -0.0524271 ,  0.08391261],
       [-0.32316337,  0.28848334, -0.09439653,  0.35882272,  0.13489006,
         0.20287887, -0.19466979, -0.24903239, -0.06877726,  0.06376354],
       [-0.38036984,  0.93727656, -2.15055189, -4.14080901,  0.56206333,
        -1.74855563,  0.21860753,  0.07652348, -0.01250614,  0.03591869],
       [ 0.66813073,  0.2463259 , -0.11388354,  0.34732631,  0.12757043,
         0.19110565, -0.0216582 , -0.13443445, -0.05109007,  0.08271997],
       [ 3.66455667,  0.17860005, -0.18012673,  0.34409295,  0.1064964 ,
         0.1912199 ,  0.04938997, -0.07421025, -0.04860586,  0.06462251]])

### KMeans

In [113]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=8, random_state=42).fit(X_pca[:200000, :])
y = kmeans.labels_
pre = kmeans.predict(X_pca[200000:, :])
kmeans.score(X_pca[200000:, :])
pre += 1
pre

array([1, 3, 1, ..., 1, 3, 1], dtype=int32)